<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My ExpressJS App</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        My ExpressJS App
    </header>

    <main>
        {{{body}}}
    </main>

    <footer>
        @PeterManda19
    </footer>
    
    <script src="/js/script.js"></script>
</body>
</html>
